   <!-- slider -->
<div class="news-slider border-radius">
    <div id="slider-one" class="owl-carousel">
        <!-- each item -->
        @{

            foreach (var i in ViewBag.pages)
            {
                <div class="item">
                    <img src="@i.Image">
                    <div class="left-side">
                        <h2> <a href="~/Page/GetPage/@i.id">@i.PageTitle</a> </h2>
                        <p>
                            @i.ShortDescription
                        </p>
                        <span> <i class="fa fa-calendar"></i> انتشار : @i.CreateDate</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        }

        <!-- end each item -->
        >
    </div>
    <a href="" class="news-archive"> <i class="icons icon-doc-1"></i> آرشیو کامل خبرها </a>
</div>
<!-- End slider -->
<!-- last news -->
@await Component.InvokeAsync("LastNews")
<!-- End last news -->
