
@{
    ViewData["Title"] = "CreatePageGroup";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



@model Domain.News.PageGroup

@section Csss{

}


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">مثال ساده</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" asp-action="CreatePageGroup" asp-controller="Adding" method="post">
        <div class="box-body">
            <div class="form-group">
                <label for="">عنوان</label>
                <input type="text" class="form-control" name="GroupTitle" id="" placeholder="عنوان گروه خبری">
            </div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary btn-block">ارسال</button>
        </div>
    </form>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">عنوان های موجود</h3>

                @*<div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="جستجو">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>*@
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>شماره</th>
                            <th>عنوان</th>

                        </tr>

                        @{

                            foreach (var i in ViewBag.groups)
                            {
                                <tr>
                                    <td>@i.PageGroupId</td>
                                    <td>@i.GroupTitle</td>

                                </tr>
                            }

                        }


                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section Scripts{

}
